<div class="container">
    <mat-card class="card">

        <mat-card-title>Compose Mail</mat-card-title>

        <mat-form-field class="field" appearance="outline">
            <mat-label>To</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
            <mat-label>Subject</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width field">
            <mat-label>Enter your message </mat-label>
            <textarea rows="10" matInput placeholder="hey, Enter your message here guys..."></textarea>
        </mat-form-field>

        <div class="text-center">
            <button type="submit" mat-raised-button color="primary"> Send-Mail</button>
            <button style="margin-left: 1%;" type="reset" mat-raised-button color="accent"> Reset</button>

        </div>

    </mat-card>
</div>