<div class="container">
    <mat-card class="card">

        <mat-card-title>Compose Mail</mat-card-title>
        <form (ngSubmit)="do_sendMail()">
            <mat-form-field class="field" appearance="outline">
                <mat-label>To</mat-label>
                <input matInput name="to" [(ngModel)]="data.to">
            </mat-form-field>

            <mat-form-field class="field" appearance="outline">
                <mat-label>Subject</mat-label>
                <input matInput name="subject" [(ngModel)]="data.subject">
            </mat-form-field>

            <mat-form-field class="example-full-width field">
                <mat-label>Enter your message </mat-label>
                <textarea rows="10" matInput placeholder="hey, Enter your message here guys..." name="message"
                    [(ngModel)]="data.message"></textarea>
            </mat-form-field>
            <mat-spinner *ngIf="flag" style="margin: auto;padding: 0.5%;"></mat-spinner>

            <div class="text-center">
                <button [disabled]="flag" type="submit" mat-raised-button color="primary"> Send-Mail</button>
                <button style="margin-left: 1%;" type="reset" mat-raised-button color="accent"> Reset</button>

            </div>
        </form>
        <!--print data on browser-->
        <!-- {{data | json}} -->
    </mat-card>
</div>