<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})"
>
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<section>
		<h1>This is about new section</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At
			aliquid iusto totam quas ipsa amet enim corporis iste consequuntur
			ullam. Aliquam quam reiciendis architecto consectetur quidem fuga
			iste optio alias nisi ipsa inventore voluptatibus quo. Nisi incidunt
			magnam sit eum vitae. Ex deleniti in quia sequi incidunt eligendi non
			soluta.</p>
	</section>
</body>
</html>