<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-1">

						<!-- Alert message -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}" class="alert"
							role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>

							<!-- after display remove session message -->
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
						<!-- ENd of Alert message -->

						<div class="container text-center">
							<img style="width: 80px;" th:src="@{../image/register.png}"
								alt="" />
						</div>
						<h1 class="text-center">Register Here !!!</h1>
						<form th:action="@{do_register}" method="post" th:object="${user}">

							<!-- Name Field -->
							<div class="mb-3">
								<label for="name_field" class="form-label">Your Name</label> <input
									type="text" name="name" class="form-control"
									th:classappend="${ #fields.hasErrors('name') ? 'is-invalid' : ''}"
									id="name_field" placeholder="Enter name here..." required
									th:value="${user.name}">
								<div class="invalid-feedback"
									th:each=" err : ${ #fields.errors('name')}" th:text="${err}"></div>
							</div>

							<!-- Email Field -->
							<div class="mb-3">
								<label for="email_field" class="form-label">Your Email</label> <input
									type="email" name="email" class="form-control" id="email_field"
									aria-describedby="emailHelp" placeholder="Enter email here..."
									required th:value="${user.email}"
									th:classappend="${ #fields.hasErrors('email') ? 'is-invalid' : ''}">
								<div class="invalid-feedback"
									th:each=" err : ${ #fields.errors('email')}" th:text="${err}"></div>
							</div>

							<!-- Password Field -->
							<div class="mb-3">
								<label for="password_field" class="form-label">Your
									Password</label> <input type="password" name="password"
									class="form-control" id="password_field"
									aria-describedby="emailHelp"
									placeholder="Enter password here..." required
									th:value="${user.password}"
									th:classappend="${ #fields.hasErrors('password') ? 'is-invalid' : ''}">

								<div class="invalid-feedback"
									th:each=" err : ${ #fields.errors('password')}"
									th:text="${err}"></div>
							</div>

							<!-- About Field -->
							<div class="form-group">
								<textarea name="about" id="about_field"
									placeholder="Enter something about yourself here..." rows="6"
									class="form-control" required th:text="${user.about}"></textarea>
							</div>

							<!-- terms and condition agreement -->
							<div class="form-group mt-2 text-center">
								<input type="checkbox" class="form-check-input" name="agreement"
									id="agreement"> <label class="form-check-label"
									for="agreement">Check terms and conditions</label>
							</div>

							<div class="container text-center p-3 ">
								<button type="submit" class="btn bg-primary text-white">Submit</button>
								<button type="reset" class="btn bg-success  text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>