<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
</head>
<body>
	<section>
		<div class="card " style="margin-right: 2%; margin-left: 1.5%;">
			<div class="card-body">
				<h1 class="text-center"
					th:text="${ opration == 'add' ? 'Add-Contact' : 'Update-Contact'}"></h1>

				<div class="container-fluid ">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form novalidate="novalidate"
								th:action="@{/user/process-contact}" method="POST"
								th:object="${contact}" enctype="multipart/form-data"
								class="nt-2">

								<!-- hidden data  -->
								<input th:if="${opration == 'update'}" type="hidden" name="cId"
									th:value="${contact.cId}" /> 
									
									<input type="hidden"
									name="opration" th:value="${opration}">
								<!-- first name -->

								<div class="input-group mb-3">
									<span class="input-group-text me-2" id="basic-addon1"><i
										class="fas fa-user-tie"></i></span> <input type="text" name="name"
										class="form-control" placeholder="Enter name here..."
										th:classappend="${ #fields.hasErrors('name') ? 'is-invalid' : ''}"
										th:value="${contact.name}">
									<div class="invalid-feedback"
										th:each=" err : ${ #fields.errors('name')}" th:text="${err}"></div>
								</div>

								<!-- secondName name -->
								<div class="input-group mb-3">
									<span class="input-group-text me-2" id="basic-addon1"><i
										class="fas fa-plus"></i></span> <input type="text" name="secondName"
										class="form-control" placeholder="Enter Second Name here..."
										th:classappend="${ #fields.hasErrors('secondName') ? 'is-invalid' : ''}"
										th:value="${contact.secondName}">
									<div class="invalid-feedback"
										th:each=" err : ${ #fields.errors('secondName')}"
										th:text="${err}"></div>
								</div>

								<!-- phone -->
								<div class="input-group mb-3">
									<span class="input-group-text me-2" id="basic-addon1"><i
										class="fas fa-phone-alt"></i></span> <input type="number"
										name="phone" class="form-control"
										placeholder="Enter phone number here..."
										th:classappend="${ #fields.hasErrors('phone') ? 'is-invalid' : ''}"
										th:value="${contact.phone}">
									<div class="invalid-feedback"
										th:each=" err : ${ #fields.errors('phone')}" th:text="${err}"></div>
								</div>

								<!-- Email -->
								<div class="input-group mb-3">
									<span class="input-group-text me-2" id="basic-addon1"><i
										class="fas fa-envelope"></i></span> <input type="email" name="email"
										class="form-control" placeholder="Enter email here..."
										th:classappend="${ #fields.hasErrors('email') ? 'is-invalid' : ''}"
										th:value="${contact.email}">
									<div class="invalid-feedback"
										th:each=" err : ${ #fields.errors('email')}" th:text="${err}"></div>
								</div>

								<!-- work -->
								<div class="input-group mb-3">
									<span class="input-group-text me-2" id="basic-addon1"><i
										class="fas fa-briefcase"></i></span> <input type="text" name="work"
										class="form-control" placeholder="Enter work here..."
										th:classappend="${ #fields.hasErrors('work') ? 'is-invalid' : ''}"
										th:value="${contact.work}">
									<div class="invalid-feedback"
										th:each=" err : ${ #fields.errors('work')}" th:text="${err}"></div>
								</div>

								<!-- contact description-->
								<div class="container-fluide">
									<textarea id="mytextarea" type="text" name="description"
										class="form-control" rows="10"
										placeholder="Enter description here ..."
										th:text="${contact.description}"></textarea>
								</div>


								<!-- image -->
								<!-- display image for updation -->
								<div class="text-center" th:if="${opration == 'update'}">
									<img style="height: 200px; width: 200px;"
										class="my_profile_picture" alt="contact"
										th:src="@{'/upload_image/' + ${contact.image}}" />
								</div>
								<div class="input-group mb-3 mt-1">
									<input type="file" name="image" class="form-control">
								</div>
								<div class="container text-center">
									<button class="btn btn-primary">Save Contact</button>

								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>

	</section>

</body>
</html>
