<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section
		class="user-dash d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>
				Welcome !!! <span th:text="${user.name}"></span>
			</h1>
			<p>Start collecting your context in very smarter way. We provide
				very efficient and smarter way of handling contact.</p>
			<p>Upload your contact on cloud</p>
			<a th:href="@{/user/add-contact}" class="btn btn-primary text-white">Add-Contact</a>
		</div>
	</section>

</body>
</html>