<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section>
		<div class="card text-center me-3 ms-3">
			<div class="card-body">

				<img style="height: 200px; width: 200px;" class="my_profile_picture"
					alt="contact" th:src="@{'/upload_image/default.jpg'}" />
				<h3 th:text="${user.name}"></h3>
				<!-- <h4>
					delete ancker
					<a th:onclick="|deleteContact(${contact.cId}, 0)|"><i
						class=" text-danger far fa-trash-alt"></i></a> <a
						th:href="@{'/user/update-contact/'+ ${contact.cId}}"
						style="margin-left: 20px;"><i
						class="text-primary far fa-edit ms-3"></i> </a>

				</h4> -->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th th:text="'HITS2021@' + ${user.id}"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="col">Email</th>
							<th th:text="${user.email}"></th>
						</tr>
						<tr>
							<th scope="col">Role</th>
							<th th:text="${user.role}"></th>
						</tr>
						<tr>
							<th scope="col">Account Active</th>
							<th th:text="${user.enabled}"></th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer">
				<div class="description">
					<th:block th:utext="${user.about}"></th:block>
				</div>
			</div>
		</div>
	</section>
</body>
</html>